{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/sf2gs_app/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/sf2gs_app/rSlider.min.css' %}">
    <script src="{% static '/sf2gs_app/sf2gs_funcs.js' %}"></script>
    <script src="{% static '/sf2gs_app/rSlider.min.js' %}"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/litepicker/dist/bundle.js"></script>
    <link href="https://rawgit.com/grudus/Timepicker/master/dist/index.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="https://rawgit.com/grudus/Timepicker/master/dist/grudus-timepicker.es5.js"></script>
    <script>
        
        const arrayRange = (start, stop, step) =>
            Array.from(
            { length: (stop - start) / step + 1 },
            (value, index) => (start + index * step).toFixed(1)
        );
        let time0;
        let count_ranges=0;
        let vpdSlider,parSlider,jsSlider
        const datepickers = [];
        const plotUrl="{% url 'plot' %}"
        const downloadUrl="{% url 'download-sf2gs' %}"
        
        document.addEventListener('DOMContentLoaded', function(event) {
            /////FUNCIONES SACADAS DE ESTE PUNTO A STATIC
            const def_start_Date = new Date("{{ rangedate.start }}");
            const def_end_Date = new Date("{{ rangedate.end }}");            
            initializeDatepickers(def_start_Date,def_end_Date)
            initializeOptions();
            
        });
        //document.querySelector('#demo').addEventListener("change", function(event) {}
    </script>
    <title>Js graphs</title>
</head>
<body>
    {% csrf_token %}
    <aside class="menu">
        <div class="grupo">
            <h2>Station</h2>
            <select multiple id='sel_station'>
                {% for s in stations %}
                <option value="{{ s }}">{{ s }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="grupo">
            <h2>Tree</h2>
            <select multiple class="sel2elem" id='sel_tree'>
                <option value="1">Tree 1</option>
                <option value="2">Tree 2</option>
            </select>
        </div>
        <div class="grupo">
            <h2>Therm. depth</h2>
            <select multiple class="sel2elem" id='sel_depth'>
                <option value="0">Shallow</option>
                <option value="1">Depth</option>
            </select>
        </div>
        <div class="div_radio">
            <input type="radio" id="Js" name="js_or_js_vpd" value="Js">
            <label for="Js">Js vs VPD</label><br>
            <input type="radio" id="Js_vpd" name="js_or_js_vpd" value="Js_vpd">
            <label for="Js_vpd">Js/VPD vs VPD</label><br>
            <input type="radio" id="css" name="js_or_js_vpd" value="Js_vs_t">
            <label for="Js_vs_t">Js vs time</label><br>
            <input type="radio" id="css" name="js_or_js_vpd" value="Js_vpd_vs_t">
            <label for="Js_vpd_vs_t">Js/VPD vs time</label><br>
            <hr>
            <input type="radio" id="vpd_vs_time" name="vpd_or_par" value="vpd_vs_time">
            <label for="vpd_vs_time">VPD vs time</label><br>
            <input type="radio" id="par_vs_time" name="vpd_or_par" value="par_vs_time">
            <label for="par_vs_time">PAR vs time</label><br>
        </div>
        <div id="div_buttons">
            <button id="update_button"> Update </button>
            <button id="plot_button"> Plot </button>
        </div>
        <div id="div_download">
            <button id="download_button"> Download </button>
        </div>
    </aside>
    <div id="chart_container">
        <div id="loading" class="loading"></div>
        <div id="chart1"></div>
        <div id="chart2"></div>
    </div>
    <div  class="menu2">
        <div class="filters">
            <h2> FILTERS: </h2>
            <h4>VPD</h4>
            <input type="text" id="vpdSlider" />
            <h4>PAR</h4>
            <input type="text" id="parSlider" />
            <h4>Js</h4>
            <input type="text" id="jsSlider" />
        </div>
        <hr>
        <div class="timerange_container">
            <h2>Time range</h2>
            <input style="width: 50px" id="start_time" value="00:00" title="start_time">
            <button style="width: 80px" id="startTime_button">Start Time</button>
            <input style="width: 50px" id="end_time" value="23:59" title="end_time">
            <button style="width: 80px" id="endTime_button">End Time</button>
        </div>
        <div class="daterange_container">
            <div class="js_daterange">
                <h2>Date range</h2>
                <input type="text" id="js_daterange">
            </div>
        </div>
        <div class="new_date" id="add_range">
            <svg id="plus_sign" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="40" height="40" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 5l0 14"></path>
                <path d="M5 12l14 0"></path>
            </svg>
            <h4 id="add_text">Add Date Range...</h4>
        </div>
        <div class="new_date" id="remove_range">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-minus" width="40" height="40" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l14 0"></path>
            </svg>
            <h4 id="rem_text">Rem Date Range...</h4>
        </div>
    <script>
        
    </script>
</body>
</html>
