{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'sf2gs_app/styles.css' %}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <title>Menú de Selección</title>
</head>
<body>
    <div class="menu">
        <div class="grupo">
            <h2>Estaciones</h2>
            <select multiple>
                <option value="primavera">Primavera</option>
                <option value="verano">Verano</option>
                <option value="otoño">Otoño</option>
                <option value="invierno">Invierno</option>
            </select>
        </div>
        <div class="grupo">
            <h2>Árboles</h2>
            <select multiple>
                <option value="roble">Roble</option>
                <option value="pino">Pino</option>
            </select>
        </div>
        <div class="grupo">
            <h2>Días</h2>
            <select multiple>
                <option value="lunes">Lunes</option>
                <option value="martes">Martes</option>
                <option value="miércoles">Miércoles</option>
                <option value="jueves">Jueves</option>
                <option value="viernes">Viernes</option>
            </select>
        </div>
        <div id="refresh_div">
            <button id="refresh_button"> Refresh </button>
        </div>
    </div>
    <div id="container">
        <div id="graf1"></div>
        <div id="graf2"></div>
    </div>
    <script>
        var dat =JSON.parse("{{ data |escapejs }}")
        var dat2 =JSON.parse("{{ data2 |escapejs }}")
        var layout= JSON.parse("{{ layout|escapejs }}")
        Plotly.newPlot('graf1', dat)
        Plotly.newPlot('graf2', dat2,layout);
    </script>
</body>
</html>
