{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/sf2gs_app/styles.css' %}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/litepicker/dist/bundle.js"></script>
    <script>
        var time0;
        document.addEventListener('DOMContentLoaded', function(event) {
            function getCookie(name) {
            var value = "; " + document.cookie;
            var parts = value.split("; " + name + "=");
            if (parts.length == 2) return parts.pop().split(";").shift();
        }
        function updateDB(){
            console.log("UPDATE!")
            document.getElementById("loading").style.display = "block";
            fetch("{% url 'updatedb' %}")
            .then(response => response.json())
            .then(data =>   {
                            console.log(data);
                            document.getElementById("loading").style.display = "none";
                            }
                );
        }
        
        function plot(start_date,end_date){//,station=1,tree=1,thermocouple_depth=0){
            time0 = new Date();
            document.getElementById("loading").style.display = "block";

            const station=document.querySelector("#sel_station").selectedOptions[0].value
            const tree=document.querySelector("#sel_tree").selectedOptions[0].value
            const depth=document.querySelector("#sel_depth").selectedOptions[0].value
            //const elem=document.querySelector("#sel_station")
            //const sel_stations = elem.selectElement.selectedOptions;
            
            //const sel_stations = document.getElementById("#sel_station").selectElement.selectedOptions;
            //const stations=sel_stations.map((opt)=>opt.value)
            //const station=stations[0]
            //const sel_tree = document.getElementById("#sel_tree").selectElement.selectedOptions;
            //const tree=sel_tree.map((opt)=>opt.value)[0]
            //const sel_depth = document.getElementById("#sel_depth").selectElement.selectedOptions;
            //const depth=sel_depth.map((opt)=>opt.value)[0]
            //console.log("click!");
            const csrftoken = getCookie('csrftoken');
            fetch("{% url 'plot' %}", {
                method: "POST",
                headers: {
                //'Accept': 'application/json, text/plain, */*',
                //'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken  // Incluir el token CSRF en el encabezado
            },
                body: JSON.stringify(
                    { "start_date" : start_date,
                        "end_date" : end_date,
                        "station" : station,
                        "tree": tree,
                        "thermocouple_depth":depth
                       },
                )
            })
            //.then(response => response.json()) //var dat =JSON.parse("{{ data |escapejs }}")
            .then(
                //response => JSON.parse(response)
                response=>response.json()
            )
            .then(data => {
                //console.log(data["chart"]);
                let time3= new Date();
                console.log("time3: ",time3)
                console.log("elapsed3: ",(time3-time0)/1000.0)
                
                const chart =JSON.parse(data["chart"])
                //var layout= JSON.parse("{{ layout|escapejs }}")
                Plotly.newPlot('chart1', chart)
                document.getElementById("loading").style.display = "none";
                let time4= new Date();
                console.log("time4: ",time4)
                console.log("elapsed4: ",(time4-time0)/1000.0)
                // Handle the response from the server
            })
            .catch(error => {
                console.error("Error uploading files:", error);
            });
        }
            
            console.log("PAGINA CARGADA")
            let start_date
            let end_date
            const datepicker=new Litepicker({
                element: document.getElementById('demo'),
                singleMode: false,
                tooltipText: {
                    one: 'night',
                    other: 'nights'
                },
                tooltipNumber: (totalDays) => {
                    return totalDays - 1;
                },
                setup: (picker) => {
                    picker.on('selected', (date1, date2) => {
                        console.log('Fecha de inicio:', date1);
                        console.log('Fecha de fin:', date2);
                        start_date=date1;
                        end_date=date2;
                    });
                },
            })
            const def_start_Date = new Date("{{ rangedate.start }}");
            const def_end_Date = new Date("{{ rangedate.end }}");            
            datepicker.setDateRange(def_start_Date, def_end_Date);
            start_date=def_start_Date;
            end_date=def_end_Date;
            
            
            document.querySelector('#plot_button').onclick = ()=>{plot(start_date,end_date)};//,station=station,tree=tree,thermocouple_depth=depth)};
            document.querySelector('#update_button').onclick = updateDB;
        });
        //document.querySelector('#demo').addEventListener("change", function(event) {}
    </script>
    <title>Js graphs</title>
</head>
<body>
    {% csrf_token %}
    <aside class="menu">
        <div class="grupo">
            <h2>Station</h2>
            <select multiple id='sel_station'>
                {% for s in stations %}
                <option value="{{ s.str }}">{{ s.str }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="grupo">
            <h2>Tree</h2>
            <select multiple class="sel2elem" id='sel_tree'>
                <option value="1">Tree 1</option>
                <option value="2">Tree 2</option>
            </select>
        </div>
        <div class="grupo">
            <h2>Therm. depth</h2>
            <select multiple class="sel2elem" id='sel_depth'>
                <option value="0">Shallow</option>
                <option value="1">Depth</option>
            </select>
        </div>
        <!--
        <div id="div_gs">
            <h2>Gs days</h2>
            <select multiple >
                {% for d in gsdays %}
                <option value="{{ d.str }}">{{ d.str }}</option>
                {% endfor %}
            </select>
        </div>
        -->
        <div class="grupo">
            <h2>Js Date</h2>
            <input type="text" id="demo">
        </div>
        <div id="div_buttons">
            <button id="update_button"> Update </button>
            <button id="plot_button"> Plot </button>

        </div>
    </aside>
    <div id="chart_container">
        <div id="loading" class="loading"></div>
        <div id="chart1"></div>
        <div id="chart2"></div>
    </div>
    <script>
        
    </script>
</body>
</html>
