{% extends "gs_app/layout.html" %}
{% block script %}
<script>
    let csrftoken;
    function plot(event){
        if (event.type=='change'){
            const div_outliers_removed= document.querySelector('#outliers_removed')
            div_outliers_removed.innerHTML = ''
            console.log("change")}
        console.log(event)
        document.getElementById("loading").style.display = "block";
        const newdate=document.querySelector('#gs_day').value
        console.log(newdate)
        const divs_outliers_removed= document.querySelector('#outliers_removed').querySelectorAll('div')
        const ouliers_removed = Array.from(divs_outliers_removed).map(elemento => elemento.id).filter(Boolean);
        
        const st_select=document.querySelector('#sel_station')
        const station_selected=st_select.options[st_select.selectedIndex].text
        const tree_select=document.querySelector('#sel_tree')
        const tree_selected=tree_select.options[tree_select.selectedIndex].text
        fetch("{% url 'read_gs' %}",{
        method: 'POST',
        headers: {
            'Accept': 'application/json, text/plain, */*',
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken  // Incluir el token CSRF en el encabezado
        },
        body: JSON.stringify({
            day: newdate,
            station: station_selected,
            tree: tree_selected,
            outliers_removed: ouliers_removed
        })
        }).then(response => response.json())
        .then(data => {
            const chart =JSON.parse(data["chart"])
            const outliers = data["outliers"]
            console.log(outliers)
            const outlier_options=document.querySelector('#outliers')
            outlier_options.innerHTML = '';
            outliers.forEach(function(outlier) {
                var option = document.createElement('option');
                option.value = outlier;
                option.text = outlier;
                outlier_options.add(option);
            });
            Plotly.newPlot('chart1', chart)
            document.getElementById("loading").style.display = "none";
        });
    }
    function getCookie(name) {
        var value = "; " + document.cookie;
        var parts = value.split("; " + name + "=");
        if (parts.length == 2) return parts.pop().split(";").shift();
    }
    function remove_outlier(){
        const outlier_selector=document.querySelector('#outliers')
        const selected_outlier=outlier_selector.value
        const id=outlier_selector.selectedIndex
        const outliers_removed_section=document.querySelector('#outliers_removed')
        const newDiv = document.createElement('div');
        newDiv.id=selected_outlier
        const newLabel=document.createElement('label');
        newLabel.textContent =selected_outlier;
        const newButton=document.createElement('button');
        newButton.textContent="X"
        newButton.onclick = function(){
            const div_container= this.parentElement
            const outlier = div_container.id;
            const outlier_selector=document.querySelector('#outliers')
            const newOption=document.createElement('option');
            newOption.value=outlier
            newOption.text=outlier
            outlier_selector.appendChild(newOption)
            div_container.remove();
        }

        newDiv.appendChild(newLabel)
        newDiv.appendChild(newButton)
        outliers_removed_section.appendChild(newDiv);
        //After adding the outlier to the list, it is removed from the selector
        outlier_selector.remove(id) 
        //console.log(selected_outlier)
    }
    document.addEventListener('DOMContentLoaded', function(event) { 
        csrftoken = getCookie('csrftoken'); //para resolver problemas de cors       
        document.querySelector('#plot_button').onclick = plot;
        document.querySelector('#gs_day').onchange = plot;
        document.querySelector('#remove_outlier').onclick = remove_outlier;
        
    })
</script>
{% endblock %}
{% block body %}
    <aside class="menu">
        <h1>Analize gs (GRAPHS)</h1>
    
        <div class="grupo">
            <h2>Station</h2>
            <select id='sel_station'>
                {% for s in stations %}
                    <option value="{{ s.str }}"
                    {% if forloop.first %}
                        selected="selected"
                    {% endif %}
                    >{{ s }}


                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="grupo">
            <h2>Tree</h2>
            <select class="sel2elem" id='sel_tree'>
                <option value="1" selected="selected">Tree 1</option>
                <option value="2">Tree 2</option>
            </select>
        </div>
    
    {% csrf_token %}
        <div class="grupo">
            <h2>Day Gs measurement</h2>
            <div>
                <select name="gs_day" id="gs_day">
                        {% for day in days %}
                            <option value="{{ day.str }}">{{ day.str }}</option>
                        {% endfor %}
                </select>
                <button id="plot_button"> Plot </button>
            </div>
        </div>
        
        <div class="grupo">
            <p> (Select a different date to plot data) </p>
        </div>
        <div>
            <select name="outliers" id="outliers">
                    {% for o in outiers %}
                        <option value="{{ o }}">{{ o }}</option>
                    {% endfor %}
            </select>
            <button id="remove_outlier"> Remove outlier </button>
        </div>
        <div name="outliers_removed" id="outliers_removed">

        </div>
    </aside>

    <main>
        
        <div id="chart_container">
            <div id="loading" class="loading"></div>
            <div id="chart1"></div>
        </div>
    </main>
    
{% endblock %}