body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #94a2be;;
}

.menu {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.grupo {
    margin-bottom: 20px;
}

.sel2elem {
    max-height: 70px;
}

h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

select {
    width: 100%;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
}

option {
    padding: 5px;
}
#plot_button{
    background-color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 80px;
}
#container {
    display: flex;
    flex-wrap: wrap;
}

#graf1,#graf2
{
width: 600px;
}